<a href="https://colab.research.google.com/github/snaheen/project_5/blob/master/Removing_common_words_%26_punctuations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import basic libraries
import sklearn
import numpy as np
import pandas as pd

# **Stopwords Removal**

In [2]:
#Importing stopwords from nltk library
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
STOPWORDS = set(stopwords.words('english'))
def stopwords_f(text):
  return " ".join([word for word in str(text).split() if word not in STOPWORDS])

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

# **Emoji and Emoticon Removal**

In [3]:
# function to remove emoji
import re

def remove_emoji(string):
    emoji_pattern = re.compile("["u"\U0001F600-\U0001F64F"  # emoticons
                                  u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                                  u"\U0001F680-\U0001F6FF"  # transport & map symbols
                                  u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                                  u"\U00002702-\U000027B0"
                                  u"\U000024C2-\U0001F251""]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', string)

In [4]:
# function for removing emoticons
!pip install emot
import emot
from emot.emo_unicode import UNICODE_EMO, EMOTICONS
def remove_emoticons(text):
         emoticon_pattern = re.compile(u'(' + u'|'.join(k for k in EMOTICONS) + u')')
         return emoticon_pattern.sub(r'', text)

Requirement already satisfied: emot in /usr/local/lib/python3.6/dist-packages (2.1)

# **Loop for all the CSV**

In [5]:
filenames = ['noplastic.csv', 'plasticpollutes.csv', 'plasticpollution2.csv', 'sustainability.csv', 'zerowaste.csv' ]
for f in filenames:
      df = pd.read_csv(f)
      df = df [['created_at', 'full_text', 'user']]

      df["text_lower"] = df['full_text'].str.lower()
      df['text_punct'] = df ['text_lower'].str.replace('[^\w\s]','')
     
      df["text_stop"] = df["text_punct"].apply(stopwords_f)
      df['text_stop'] = df['text_stop'].apply(remove_emoji)
      
      df['text_stop'] = df['text_stop'].apply(remove_emoticons)

      df.to_csv('updated_{}'.format(f))

## Data Exploration
Checking for missing values

In [10]:
data = pd.read_csv('updated_zerowaste.csv')
data.head()

   Unnamed: 0  ...                                          text_stop
0           0  ...  needs happen wouldnt trust 10downingstreet pet...
1           1  ...  thank supporters month help us rescue fresh pe...
2           2  ...  hi twitter made climate blog first post discus...
3           3  ...  small businesses coped lockdown covid19 pandem...
4           4  ...  somebody come get shes giving away like giver ...

[5 rows x 7 columns]

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302 entries, 0 to 301
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  302 non-null    int64
 1   created_at  302 non-null    object
 2   full_text   302 non-null    object
 3   user        300 non-null    object
 4   text_lower  302 non-null    object
 5   text_punct  302 non-null    object
 6   text_stop   302 non-null    object
dtypes: int64(1), object(6)
memory usage: 16.6+ KB

In [15]:
data.isnull().sum()

Unnamed: 0    0
created_at    0
full_text     0
user          2
text_lower    0
text_punct    0
text_stop     0
dtype: int64